* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/guess.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.507);
}

ul {
    list-style: none;
}

li {
    margin: 30px;
}

li a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.185);
}

a:hover {
    background-color: rgba(0, 0, 0, 0.767);
    color: rgba(211, 211, 211, 0.507);
}